<article
  class="ticket-card"
  [ngClass]="'prio-' + ticket().prioridade"
  [ngStyle]="{ 'background-color':
    ticket().prioridade === 'critica' ? '#ffe5e5' :
    ticket().prioridade === 'alta' ? '#fff0d6' :
    ticket().prioridade === 'media' ? '#e6f0ff' :
    '#e8f5e9'
  }"
>

  <span>
    #{{ ticket().id }}
  </span>

 <h3>
  <a class="titulo-ticket"
   [routerLink]="['/tickets', ticket().id]">
    {{ ticket().titulo }}
  </a>
</h3>

  @if (mostrarDetalhes()) {
  <p>
    {{ ticket().descricao }}
  </p>
  }
  

  @if (ticket().tecnico; as nomeTecnico) {
  <p class="tecnico">
    <strong>Técnico:</strong>
    {{ nomeTecnico}}
  </p>
} @else {

  <p class="sem-tecnico"
  [class.sem-responsavel]="!ticket().tecnico">
    <strong>Técnico:</strong>
    <em>Por atribuir</em>
  </p>

}
 <p>
    <strong>Categoria:</strong> 
    {{ ticket().categoria }}
  </p>

  @if (ticket().prioridade === 'critica') {
    <p class="sla urgente">
      Resposta em 1 hora
    </p>

  } @else if (ticket().prioridade === 'alta') {

    <p class="sla">
      Resposta em 4 horas
    </p>
     } @else if (ticket().prioridade === 'media') {

    <p class="sla">
      Resposta em 24 horas
    </p>
     } @else {

    <p class="sla">
      Resposta em 72 horas
    </p>

  }
  <div class="estado"
   [ngClass]="{
    'urgente': ticket().prioridade === 'critica' && ticket().estado === 'aberto',
    'concluido': ticket().estado === 'resolvido' || ticket().estado === 'fechado'
  }">

  <strong>Estado:</strong>

  @switch (ticket().estado) {
    

    @case ('aberto') {
      <span class="etiqueta">
        🔵 Aberto
      </span>
    }

    @case ('em-progresso') {
      <span class="etiqueta">
        🟡 Em progresso
      </span>
    }

    @case ('resolvido') {
      <span class="etiqueta">
        ✅ Resolvido
      </span>
    }

    @default {
      <span class="etiqueta">
        ⚫ Fechado
      </span>
    }

  }
  <div class="barra">
        <div
        class="progresso"
         [style.width.%]="
      ticket().estado === 'aberto' ? 25 :
      ticket().estado === 'em-progresso' ? 50 :
      ticket().estado === 'resolvido' ? 75 :
      100">
      </div>
      </div>

</div>

<div class="button">
<button
  class="btn-avancar"
  type="button"
  (click)="proximoEstado()"
>
  Avançar Estado
</button>

<button
  class="btn-eliminar"
  type="button"
  (click)="remover()"
>
  Eliminar
</button>
</div>

</article>